/* OneDark Colorscheme */

$black: "#1c1f24";
$red: "#ff6c6b";
$green: "#98be65";
$yellow: "#ecbe7b";
$blue: "#51afef";
$magenta: "#c678dd";
$cyan: "#46d9ff";
$white: "#abb2bf";

$black-bright: "#5b6268";
$red-bright: "#ff6c6b";
$green-bright: "#98be65";
$yellow-bright: "#ecbe7b";
$blue-bright: "#51afef" ;
$magenta-bright: "#a9a1e1";
$cyan-bright: "#46d9ff";
$white-bright: "#dfdfdf";
